
# heavy/useless stuff

.venv/
.vscode/
__pycache__/
**/__pycache__/
*.pyc
*.egg-info


# ignoring these because they are prompt and continuously change
*.txt

# dev stuff
halogen.log
events.log
test.py
secrets.txt
whiteboard.txt
